<!DOCTYPE html>
<html lang="he">
<head>

    <meta charset="UTF-8">
    <title>עמוד מוצר</title>
    <base href="C:\group15\"/>
    <link rel="stylesheet" href="pages/product/static/css/product.css">


</head>
<body dir="rtl" class="general-style">
    <header>
    </header>
    <main>
        <h2>הטעמים שלנו</h2>
        <div class="description">
            <h3>גלידה</h3>
            <p>מותג גלידרי - הגלידה האיכותית, חומרי הגלם הטובים בעולם, ללא חומרים משמרים, ללא צבעי מאכל מלאכותיים ומפירות טבעיים בלבד!
                <br><br>
                לפירוט אודות טעם הגלידה הרצוי ניתן ללחוץ על התמונה המתאימה
            </p>
        </div>
        <div class="product-area">
            <div class="border">
                <h4>גלידת פבלובה</h4>
                <img src="static/img/iceCream/pavlova_full.jpg" alt="גלידת פבלובה">
                <div>גלידת שכבות המורכבת מקרם מרנג עשיר ופריך ומסורבה פירות יער</div>
            </div>
        </div>
    </main>

</body>
</html>