<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <base href="C:\group15\"/>
    <link rel="stylesheet" href="pages/order/static/css/order.css">
    <link rel="stylesheet" href="static/css/webStyle.css">
    <script src="pages/order/static/js/order.js"></script>


</head>
<body dir="rtl" class="general-style">
    <header>
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openProduct(event, 'IceCream')">גלידה</button>
            <button class="tablinks" onclick="openProduct(event, 'Yogurt')">יוגורט</button>
            <button class="tablinks" onclick="openProduct(event, 'Cookie')">קוקילידה</button>
        </div>
    </header>
    <main>
        <!-- Tab content -->
        <div id="IceCream" class="tabcontent">
            <div class="description">
                <h3>גלידה</h3>
                <p>עבור גלידה במשקל חצי קילו גלידה ניתן לבחור בין 1 ל 3 טעמים שונים, מגיע עם 3 גביעים וכפיות.
                    <br><br>
                    עבור גלידה במשקל קילו ניתן לבחור עד בין 1 ל 5 טעמים שונים, מגיע עם 5 גביעים וכפיות.
                    <br><br>
                    לפירוט אודות טעם הגלידה הרצוי ניתן ללחוץ על התמונה המתאימה
                </p>
            </div>

            <form method="get"  action="/order" >
                <fieldset>
                    <div class="add-product-bar">
                        משקל קופסא בק"ג
                        <select name="amount">
                            <option value="0.5">0.5</option>
                            <option value="1">1</option>
                        </select>

                    </div>

                    <p>בחר בין 1 ל 3 טעמים שונים</p>
                    <div class="wrapper">
                        <div> <img src="pages/order/static/img/fistuk.jpg" alt="ice-cream-taste" class="taste-image"><br>
                            <input type="checkbox" id="fistuk" name="ice_cream_tastes" value="fistuk" >
                            <label for="fistuk">פיסטוק</label>
                        </div>
                        <div> <img src="pages/order/static/img/oreoCream.jpg" alt="ice-cream-taste" class="taste-image"><br>
                            <input type="checkbox" id="oreo-cream" name="ice_cream_tastes" value="oreo-cream" >
                            <label for="oreo-cream">קרם עוגיות</label></div>
                        <div> <img src="pages/order/static/img/pavlova.jpg" alt="ice-cream-taste" class="taste-image"><br>
                            <input type="checkbox" id="pavlova" name="ice_cream_tastes" value="pavlova" >
                            <label for="pavlova">פבלובה</label>
                        </div>


                    </div>














                </fieldset>
                <input type="submit" value="Submit">

            </form>
        </div>

        <div id="Yogurt" class="tabcontent">
            <div class="description">
                <h3>יוגורט</h3>
                <p>עבור יוגורט במשקל חצי קילו או קילו, ניתן לבחור בין 1 ל 3 טעמים שונים, מגיע עם 3 גביעים וכפיות.</p>
            </div>
        </div>

        <div id="Cookie" class="tabcontent">
            <div class="description">
                <h3>קוקילידה</h3>
                <p>עבור כל יחידה אחת של קוקילידה יש לבחור סוג גלידה וסוג עוגיה</p>
            </div>
        </div>

    </main>

</body>
</html>