/* icons library */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* general web style */
.general-style{
    font-family: Calibri ;
    font-size: 18px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    margin-right: 200px;
}

.description{
    background-color: #FFEBF5;
    text-align: center;
    margin: 0px 0px;
}

h2{
    text-align: center;
}

*{
    box-sizing: border-box;
}

