@import "/group15/static/css/webStyle.css";

.border{
    border: 2px solid #C00060;
    display: inline-block;
    margin-bottom: 16px;
}

.border div{
    margin: 16px 0px;
    padding: 8px 8px;
    background: #FFEBF5;
}

.product-area{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}