<!DOCTYPE html>
<html lang="he">
<head>

    <meta charset="UTF-8">
    <title>catalog</title>
    <base href="C:\group15\"/>
    <link rel="stylesheet" href="pages/catalog/static/css/catalog.css">

</head>
<body dir="rtl" class="general-style catalog">
    <header>
        <div class="description">
            <h3>גלידה</h3>
            <p>עבור גלידה במשקל חצי קילו גלידה ניתן לבחור בין 1 ל 3 טעמים שונים, מגיע עם 3 גביעים וכפיות.
                <br><br>
                עבור גלידה במשקל קילו ניתן לבחור עד בין 1 ל 5 טעמים שונים, מגיע עם 5 גביעים וכפיות.
                <br><br>
                לפירוט אודות טעם הגלידה הרצוי ניתן ללחוץ על התמונה המתאימה
            </p>
        </div>
    </header>
    <main>
        <div class="tastes-wrapper">
            <div> <img src="static/img/iceCream/fistuk.jpg" alt="fistuk" class="taste-image hover-shadow cursor"><br>
                פיסטוק</div>
            <div> <img src="static/img/iceCream/oreoCream.jpg" alt="oreo-cream"  class="taste-image hover-shadow cursor"><br>
               קרם עוגיות</div>
            <div> <img src="static/img/iceCream/pavlova.jpg" alt="pavlova" class="taste-image hover-shadow cursor"><br>
               פבלובה</div>
        </div>
    </main>

</body>
</html>